body{font-family: 'Lato', sans-serif;}

.cover{
    position: relative;
    z-index: 0;
    width: 100%;
    background: rgb(238, 217, 209);
}
.phone{
    z-index: 1;
    font-weight: 200;
}
.phone a{
   color:black; 
   font-size: 13px;
   font-weight: bold;
}
.phone i{
    color:black;
}

.reg{
    width: 50%;
    text-align: right;
}

.reg a{
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;

}
.social-icon{
    display:inline-block;
    width: 50%;

}
.social-icon p{
    display:block;
    width: 100%;
}
.social-icon p a{
    height: 30px;
    margin-right: 10px;
}
.social-icon p a i{
    font-size: 13px;
    color: black;

}

.social-icon p a:hover{
    background: #f8aa02;
    border-color: #f8aa02;
}
.social-icon p a:hover i{
    color: #fff;
}

@font-face {
    font-family: myFirstFont;
    src: url(PT_Sans_Caption/PTSansCaption-Regular.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(PT_Sans_Caption/PTSansCaption-Regular.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    font-family: myFirstFont;
    color: #051A3B;
  
}

@media only screen and (max-width: 770px) {
   
    /* menu starts here */
    .menuBurger {
        position: absolute;
        right: 40px;
        top: 130px;
        z-index: 2;
        color: #997d89;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgb(1, 4, 8);
        background-color: rgba(1, 5, 12, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }
    .overlay .closebtn {
        z-index: 2;
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .menuDesk {
        display: none;
    }
    
}

@media only screen and (min-width: 770px) {
   
    /* menu */
    .menuDesk {
        position: absolute;
        width: 208px;
        right: 40px;
        top: 140px;
        z-index: 1;
    }
    .menuDesk a {
        background-color: rgba(239, 218, 227, 0.20);
        color: #051A3B;
        display: block;
        text-decoration: none;
        margin: 0 0 8px 0;
        text-align: center;
        font-size: 16px;
        padding: 11px 0 13px 0;
        width: 208px;
    }
    .menuDesk a:hover {
        background-color: #051A3B;
        color: #EFDAE3;
    }
    .overlay {
        display: none;
    }
    .menuBurger {
        display: none;
    }
    /* ends here */

/**************hero section************/
.hero{
    display:table;
    width: 100%;
    height: 100vh;
    background:url(./images/pig2.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.head{
    color: blanchedalmond;
    margin-bottom: 30px;
    font-size: 30px;
    font-style: italic;
  
    margin-left: 330px;
}  


.title{
    
    font-weight: bold;
    text-transform: uppercase;
    color:blanchedalmond;
    margin-top: 280px;
    margin-left: 330px;
    margin-bottom: 20px;
   
   
}
.bt{
    background: rgb(238, 217, 209);
    text-decoration: none;
    margin-left: 440px;
    font-style: italic;
    padding: 3px 40px;
    font-size: 20px;
    text-align: center;

}
.bt:hover{
    background-color: #293549;
}

}
.card-style{
    display: inline;
    margin: 10px 20px;
}
/************** End  of hero section************/

.text-card{
    text-align: center;
}
/************************product section**********************/
.bg-img{
    background: black;
}
.text-color{
    color:blanchedalmond ;
    
}
.product-section h2{
    font-style: italic;
    font-size: 40px;
}
.product{
    width: 100%;
    display: block;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}
.product-img{
    display: block;
    border-radius: 4px;
    height: 350px;
    position: relative;
    transition: all 0.3s ease;
    z-index: 0;
}
.color_back{
    background-color: black;
}
.cot_style{
    margin:40px  0px 10px 200px ;
}

.contactimg{
    display:table;
    width: 100%;
    height: 300px;
    background:url(./images/peppe.jpeg) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.bodystyle{
    margin: 200px 100px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    
  }

  .con {
    position: relative;
    text-align: center;
    color: white;
  }
 .contact-img{
     margin-top: 40px;
 } 
 .form-style{
     margin-top: 100px;
     width: 400px;
     margin-left: 400px;
     
     
 }

 .smallForm{
    margin-top: 100px;
    width: 400px;
    margin-left: 400px;
    margin-bottom: 60px;
     
 }
 .contact-text{
     margin-top: 80px;

 }
